body {
  font-family: 'Segoe UI', sans-serif;
}

.section-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.sidebar .nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.05rem;
  transition: all 0.2s ease-in-out;
}

.sidebar .nav-link:hover {
  color: #1dbf73;
  transform: translateX(4px);
}

.card-title {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  display: block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
}

.sidebar {
  width: 200px;
  background-color: #121212;
  min-height: 100vh;
  border-right: 1px solid #333;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  text-shadow:
    1px 1px #25f4ee,   /* subtle cyan glow */
    -1px -1px #fe2c55; /* subtle pink glow */
}


.nav-link {
  color: #fff;
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.2s;
}

.nav-link:hover {
  color: #ff2c55;
}

.back-button {
  margin-top: 2rem;
}
